@import 'nib/vendor'
@import 'normalize'
@import 'variables'

-vendor-prefixes = o ms moz webkit official

*
   outline none

body
    font-size 16px
    font-family font
    font-weight 300
    width 100%
    overflow-x hidden
    overflow-y auto
    padding 0
    margin 0
    background white

    section.content
        width 100%
        margin 0 auto
        padding 0

        div.profile
            width 100%
            margin 1em auto
            box-shadow 0px 0px 17px rgba(0, 0, 0, 1)
            padding 0

            div.detail
                width 100%
                margin 1em auto
                display block
                padding 1em 0
                position relative

                a.twitter
                    color lead
                    text-decoration none
                    position absolute
                    top 1em
                    right 1em
                    transition all 0.5s
                    font-size 1.25em

                    &:hover
                        color twitter

                figure
                    min-width 60px
                    min-width 70px
                    width 10%
                    margin 2em auto
                    display flex
                    display box
                    align-items center
                    border-radius 50%

                    img
                        display block
                        width 100%
                        border-radius 50%

                h1
                    color gray
                    text-align center
                    font-size 1.5em
                    box-flex 1
                    flex 1

                    span
                        display block
                        color lead
                        font-size 0.75em

            div.social
                width 100%
                display block
                text-align center
                margin 0

                ul
                    margin 0
                    padding 0
                    list-style none
                    display box
                    display flex
                    align-items center
                    flex-direction row

                    li
                        margin 0
                        padding 1em 0
                        box-flex 1
                        flex 1

                        &.github
                            background github

                        &.twitter
                            background github

                        span.number
                            font-weight bold
                            display block
                            margin 1em 0
                            color white

                        a
                            color white
                            text-decoration none
                            font-size 1.5em

        div.last-tweets
            text-align center
            color lead

        iframe
            width 100%!important
            margin 1em auto!important
            display block!important

@media screen and (min-width: 720px)

    body
        section.content
            div.profile
                width 60%
                margin 3em auto 2em

                div.detail
                    display box
                    display flex
                    align-items center
                    flex-direction row

                    figure
                        margin 1em 2em

                    h1
                        text-align left

            iframe
                width 60%!important

