@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

@tailwind base;

/* Hide scrollbar */
:root::-webkit-scrollbar{
  display: none;
}
:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  font-family: 'Inter', sans-serif;
}

@tailwind components;

@tailwind utilities;
